@model HairSalon.Models.Stylist

@{
  Layout = "_Layout";
}

<h2>Edit Stylist</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    @Html.LabelFor(Model => Model.Specialty)
    @Html.EditorFor(model => model.Specialty)
    <br>
    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back Stylists", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>