@using HairSalon.Models;
@model HairSalon.Models.Client;

@{
  Layout = "_Layout";
}

<h2>Client Details</h2> 
<h3>@Html.DisplayFor(model => model.Name)</h3>
<p>Stylist: @Html.DisplayFor(model => model.Stylist.Name)</p>
<p>Regular client?: @Html.DisplayFor(model => model.RegularClient)</p>
<p>@Html.DisplayNameFor(model => model.Usual): @Html.DisplayFor(model => model.Usual)</p>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Remove Client", "Delete", new { id = Model.ClientId})</p>